body{
    margin:60px;
}
.container{
    background-color: #EEEEEE;
}
.header{
    text-align: center;
    color:rgb(92, 32, 32);
}
#imagetext{
    background-color:white !important;
    text-align: center;
    font-weight: 900;
    color:rgb(104, 34, 34);
}
.main{
    max-width: 660px;
    margin:0 auto;
    text-align: center;
}
p{
    text-align: justify;
    font-size:125%;
}
.Saying{
    font-style: italic;
    font-size: larger;
    color: rgb(92, 32, 32);
}
#codedby{
    text-align: center;
    font-weight: bold;
}
.tag{
    color:rgb(92, 32, 32);
    font-size: 130%;
}
#end{
    color:rgb(92, 32, 32);
}
img{
    width:500px;

}